*{box-sizing: border-box;}
body{
  width: 1000px;
  height: 1000px;
}
h1{
 text-align: center;
 box-shadow: 10px 15px rgb(145, 255, 0);
  color: aquamarine;
  background-color: blueviolet;
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 100px 50px 30px 20px;
  margin-left: 40px;
  padding: 10px;
}
.block1{
  display: flex;
  justify-content: right;
}

th,td {
  border: 3px solid rgb(160 160 160);
  padding: 8px 10px;
}

p {
  font-size: 1rem;
  font-family: serif;
  margin: 20px;
}

td {
  text-align: center;
}

table{
  border-collapse: collapse;
  border: 5px solid black;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 165px;
  margin: 0 auto;

}